body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.input-values {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.text-input {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center; 
}

.value-box {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 200px; 
}

.timer-controls {
    display: flex;
    align-items: center;
}

.button-timer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-timer:hover {
    background-color: #555;
}

.button-link {
    text-decoration: none;
    color: #fff;
}

.button-cronometro {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-cronometro:hover {
    background-color: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: none;
    border-color: #ddd;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.tempo-esgotado {
    animation: blink 1s infinite alternate;
    border: 2px solid red;
}

@keyframes blink {
    to {
        background-color: red;
    }
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background: transparent;
    border-radius: 4.5px; 
    box-shadow: black;
    gap: 10px;
}

.presets {
    list-style: none;
    text-align: center; 
    padding: 0; 
    margin-bottom: 10px;
    width: 150px; 
    height: 40px;
}

.menu {
    display: none;
    text-align: center; 
    
}

.menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* Diminui a distância entre os botões */
    padding: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; 
}

.menu li {
    margin: 0; 
}
.menu li a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.menu-btn svg {
    fill: white; 
}

.menu button {
    width: 150px;
    height: 40px;
    background-color: #333;
    color: #fff;
    padding: 0;
    margin: 5px; /* Espaçamento entre os botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu button:hover {
    background-color: #555;
}