

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.input-values {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.text-input {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center; /* Adicionado para centralizar o texto */
}

.value-box {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    width: 200px; /* Largura do input, ajuste conforme necessário */
}

.timer-controls {
    display: flex;
    align-items: center;
 /* Adicionado espaço abaixo dos botões */
}

.button-timer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-timer:hover {
    background-color: #555;
}

.button-link {
    text-decoration: none;
    color: #fff;
}

.button-cronometro {
    width: 100px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-cronometro:hover {
    background-color: #555;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]:focus {
    outline: none;
    border-color: #ddd;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.tempo-esgotado {
    animation: blink 1s infinite alternate;
    border: 2px solid red;
}

@keyframes blink {
    to {
        background-color: red;
    }
}
.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    background: transparent;
    border-radius: 4.5px; 
    box-shadow: black;
    gap: 10px;
}
.presets{
    list-style: none;
    border: none;
    text-align: center;
}








