<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/arquivos/css/style_timer.css">
    <link rel="icon" href="/arquivos/img/dev-diaz-sfundo.png" type="image/x-icon">
    <title>Temporizador Digital</title>
</head>
<body>
    <div class="menu-toggle">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav class="menu">
        <div class="itens-menu"></div>
        <ul>
            <li><a href="#">-</a>
                <ul>
                    <li><a href="#" id="preset-1">Oração</a></li>
                    <li><a href="#" id="preset-2">Louvor</a></li>
                    <li><a href="#" id="preset-3">Ministração</a></li>
                </ul>
            </li>
            <li>
                <label class="text-input" for="text-input-information">Digite aqui o valor!</label>
                <input class="value-box" type="number" id="text-input-information" placeholder="Digite o valor">
            </li>
            <li>
                <button id="iniciar-cronometro" class="button-cronometro">Iniciar</button>
            </li>
            <li>
                <button id="pausar-cronometro" class="button-cronometro">Pausar</button>
            </li>
            <li>
                <button id="zerar-cronometro" class="button-cronometro">Zerar</button>
            </li>
            <li>
                <a href="/arquivos/views/index.html" class="button-link">
                    <button class="button-cronometro">Relógio</button>
                </a>
                
            </li>
        </ul>
    </nav>
    </div>
    <div class="Cronômetro">
        <div class="relogio">
            <div>
                <span id="horas">00</span>
                <span class="tempo">Horas</span>
            </div>
            <div>
                <span id="minutos">00</span>
                <span class="tempo">Minutos</span>
            </div>
            <div>
                <span id="segundos">00</span>
                <span class="tempo">Segundos</span>
            </div>
        </div>
    </div>
    <script src="/arquivos/js/script_timer.js"></script>
</body>
</html>
