@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, #000000, #171717);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    color: white;
    background-color: rgba(5, 5, 5, 0.9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border: 7px solid transparent;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
}

.menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-y: auto;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    padding: 10px;
    text-align: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-bottom: 10px;
}

.button-cronometro {
    background-color: black;
    color: white;
    margin: 5px;
    border: none;
    width: 80%;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .menu {
        width: 100%;
        right: -100%;
    }
}

.text-input {
    color: white;
}
.value-box{
    border-radius: 5px;
    background-color: black;
    color: white;
    outline: none;
}
.menu-none {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    overflow-y: auto;
    transition: 0.4s;
    padding-top: 20px;
    z-index: 998;
}

.menu-none .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;
    max-height: calc(100% - 20px);
    overflow-y: auto;
}

.menu-none .menu ul {
    width: 100%;
}

.menu-none .menu li {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px solid #666;
}

.menu-none .menu a {
    display: block;
}
.menu-vazio{
    opacity: 0;
}
/* css menu-vazio é temporario, até apagar o ponto que o HTML não deixa tirar */

.menu-none .button-cronometro {
    width: calc(100% - 40px);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* css para excluir as setas de valores do input valor */
